/* Add.module.css */

.button {
  background-color: #3498db; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto no botão */
  border: none; /* Remove a borda padrão */
  border-radius: 50%; /* Deixa o botão circular */
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  font-size: 18px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de mão ao passar o mouse sobre o botão */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; /* Adiciona uma transição suave de cor de fundo */
  outline: none; /* Remove a borda de foco ao clicar */
  border: 1px solid whitesmoke;
  /* Adicione mais estilos de acordo com suas preferências, como sombra, margem, etc. */
}

/* Altere a cor de fundo ao passar o mouse sobre o botão */
.button:hover {
  background-color: #2e87c4;
}

.button svg {
  font-weight: normal;
  font-size: 8em;
}
