.card {
  background-color: #b0e0e6;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 18.5em;
}
.data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.chave_data {
  font-weight: bold;
}

.justificativa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chave_justificativa {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
